[user]
	name = joppe
	email = jboeve009@gmail.com
[core]
	autocrlf = false
	pager = less -F -S -R -i -+X
[pager]
	diff = less +/diff\\ --git
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	staged = diff --cached
	fpush = push --force-with-lease
  	open = "!f() { REPO_URL=$(git config remote.origin.url); xdg-open ${REPO_URL%%.git}; }; f"
  	browse = !git open
[branch]
	autosetupmerge = true
[init]
	defaultBranch = main
[push]
	recurseSubmodules = on-demand
	default = current
	autoSetupRemote = true
[submodule]
	recurse = true
[pull]
	rebase = true
[safe]
	directory = /etc
[url "git@github.com:"]
	insteadOf = https://github.com/
