ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c08b", ATTR{product}=="G502 HERO Gaming Mouse", ACTION=="add", ENV{ID_CLASS}="mouse", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="mouse-accel-disable.service"
